<html>
<head>
	<title>lOGIN FS COMPRE</title>
</head>
<body>

	<form action = "/login" method = "post">
username:  <input type="text" name="user" placeholder="username" />
<br>
password:  <input type="password" name="pass" placeholder="******"/>
<br>
<br>
<button type="Submit"> Submit Karo </button>
</form>

</body>
</html>

